.fullpage {
  font-family: Arial, Helvetica, sans-serif;
  background: #fefdfe;
  border: 1px solid #000000;
  text-align: left;
  margin: 10px;
  width: 450px;
  height: 580px;
}

h1 {
  font-size: 40px;
  color: #ffffff;
  text-align: right;
  padding: 20px 18px 0 0;
}

.board {
  margin: 0 auto;
  width: 450x;
  height: 284px;
  background-image: url("img/sun_pigeon.png");
  text-shadow: 1px 2px 2px black;
}

.mainDetails {
  font-size: 20px;
  text-align: left;
  position: relative;
  top: 10px;
  left: 40px;
}

.degrees {
  font-size: 50px;
  font-weight: bolder;
}

.details {
  font-size: px;
  text-align: right;
  position: relative;
  padding: 0px;
  top: 10px;
  right: 50px;
}

.input-group {
  margin: 0 0 0 40px;
  position: relative;
  top: 10px;
}

.button {
  color: white;
  background-color: black;
  border-radius: 0.375rem;
}

.form-control {
  max-width: 200px;
}

.nextweek {
  width: 440px;
  text-align: center;
  font-size: 17px;
  position: relative;
  left: 5px;
}

.fa-sun {
  color: #d6ad60;
  font-size: 25px;
  padding: 10px 0;
}

.fa-cloud-sun {
  color: #21b6a8;
  font-size: 25px;
  padding: 10px 0;
}

.fa-cloud-rain {
  color: #b9b7bd;
  font-size: 25px;
  padding: 10px 0;
}

.location {
  font-size: 20px;
  background-color: #fefdfe;
  border: none;
  position: relative;
  top: -25px;
  right: -290px;
}

.github {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 11px;
  padding: 28px 0px 0px 0px;
}

.col-6 .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.icon {
  width: 50px;
  height: 50px;
}

.ul {
  padding: 0;
  margin: 0;
}

.ul:first-letter {
  text-transform: capitalize;
}
