.fullpage {
  font-family: Arial, Helvetica, sans-serif;
  background: #fefdfe;
  border: 1px solid #000000;
  margin: 10px;
  width: 452px;
  height: 580px;
}

.board {
  margin: 0 auto;
  width: 450px;
  height: 284px;
  background-image: url("../img/sun_pigeon.png");
}

h1 {
  font-size: 40px;
  color: #ffffff;
  text-align: right;
  text-shadow: 1px 2px 2px black;
  padding: 20px 20px 0 0;
  margin: 0px;
}

.mainDetails {
  font-size: 20px;
  text-align: left;
  padding: 10px 0 0 50px;
}

.degrees {
  font-size: 50px;
  font-weight: bolder;
}

.details {
  font-size: 17px;
  text-align: right;
  padding: 10px 50px 0 0;
}

ul {
  margin: 0;
  padding: 0;
}

.icon {
  width: 50px;
  height: 50px;
}

.capitalize {
  display: inline-block;
}

.capitalize:first-letter {
  text-transform: capitalize;
}

.input-group {
  padding: 10px 0 0 40px;
}

.form-control {
  max-width: 180px;
}
.button {
  background-color: black;
  border-radius: 0.375rem;
}

.location {
  font-size: 22px;
  background-color: #fefdfe;
  border: none;
  position: relative;
  top: -37px;
  right: -265px;
}

.forecast {
  font-size: 13px;
  text-align: center;
  width: 500px;
  position: relative;
  top: -10px;
  left: 19px;
}

.col-2 {
  padding: 0px 20px;
}

.forecast-date {
  font-size: 15px;
  font-weight: bold;
}

.forecast-temperature-max {
  font-weight: bold;
}

.github {
  text-align: center;
  font-size: 11px;
  padding: 20px 0px 0px 0px;
}
